.message{
    border-radius: 5px;
    position: relative;
    margin: auto;
    padding: 5px;
}
.message-left {
    border-bottom-left-radius: 0;
    left: 15px;
    float: left;
    background: white;
}

.message-right {
    border-bottom-right-radius: 0;
    right: 15px;
    background: dodgerblue;
    float: right;


}

.conversation {
    background: lightgray;
    border: 1px rebeccapurple;
    width:500px;
    left:100px;
}

table{
    background:slategray;
    width: 100%;
}

.hidden{
    display: none;
}

