@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
    padding-top: 100px;
}

.register-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto, serif;
}

.register-container h1{
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}


.register-container input[type=submit]{
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0;
    font-family: roboto;
    font-size: 14px;
}

.register-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    box-sizing: border-box;
}

.register {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.register-container a{
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
}